#topbar{
	height: 40px;
    line-height: 40px;
    background-color: #333;
}
.topbar-navlist{
	height: 40px;
}
.topbar-navlist li{
	float: left;
}
.topbar-navlist li > a{
	color:#b0b0b0;
	padding:0 8px;
	border-right:1px solid #424242;
}
#topbar li:first-child a{
	padding-left:0;
}
#topbar li:last-child a{
	padding-right:0;
	border-right:0;
}
.topbar-navlist li>a:hover{
	color:#fff;
}
/*下载app*/
#topbar .download{
	top:40px;
	left:-28px;
	width: 126px;
	height: 0;
	overflow: hidden;
	font-size:14px;
	text-align: center;
	background-color: #fff;
	box-shadow:0 0 3px #c0c0c0;
	transition:0.3s;
	z-index: 99;
}
#topbar li.icons:after{
	position: absolute;
	opacity: 0;
	content:"";
	top:30px;
	left:20px;
	border:10px solid transparent;
	border-bottom-color:#fff;
	border-top:none;
}
#topbar .download img{
	width: 90px;
	display: block;
	margin:20px auto 0;
}
#topbar li.icons:hover:after{
	opacity: 1;
}
#topbar li:hover .download{
	height: 150px;
}
/* topbar-use */
.topbar-use  li{
	float: left;
}
.topbar-use  li >a{
	color:#b0b0b0;
	padding:0 8px;
	
}
.topbar-use  li > .register{
	border-left:1px solid #424242;
	border-right:1px solid #424242;
}
.topbar-use .shop{
	margin-left:20px;
	height: 40px;
}
.topbar-use .shop >a {
	display: block;
	width: 120px;
	height: 100%;
	text-align: center;
	background-color: #424242;
}
.topbar-use .shop >a >i{
	margin-right:5px;
}
.shop-car{
	top:40px;
	right:0;
	width: 316px;
	height:0;
	overflow: hidden;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	box-shadow:0 3px 3px #ccc;
	transition:0.3s;
	z-index: 33;
}
.topbar-use .shop >a:hover{
	color:#ff6700;
	background-color: #fff;
}
.topbar-use .shop:hover .shop-car{
	height: 100px;
}
